<!--The content below is only a placeholder and can be replaced.-->

<div class="header">
  <h1 class="header--title">应季水果</h1>
</div>

<accordion>
  <accordion-group *ngFor="let item of monthData">
    <div accordion-heading class="clearfix">
      {{item.month}}
    </div>
    <div class="fruit-cardcontainer" >
      <a [href]="subItem.link" target="_blank" class="fruit-card" *ngFor="let subItem of item.fruits">
        <img class="fruit-card--img" [src]="subItem.imgUrl" [alt]="subItem.name" />
        <p class="fruit-card--title">{{subItem.name}}</p>
      </a>
    </div>
  </accordion-group>
</accordion>

